<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style>
		table {
			width: 400px;
		}
		table, td, th {
			border: 1px solid blue;
		}
		
		.even{
        	background-color: hotpink;
    	}
    	.odd{
        	background-color: cornflowerblue;
    	}
	</style>
</head>
<body>
	<h3>성적 목록</h3>
	<table>
		<caption th:text="${counts} + '건 검색됨'"></caption>
		<caption th:text="|${counts}건 검색됨|"></caption>
		<tr>
			<td>
				순번
			</td>
			<td>
				이름
			</td>
			<td>
				국어
			</td>
			<td>
				산수
			</td>
			<td>
				사회
			</td>
		</tr>
		<tr th:class="${status.even}? 'even':'odd'" th:each="score, status  : ${scoreList}"
						th:object="${score}">
			<!-- th:class 조거식이 들어갔다 생각하고, status.even이 thymeleaf 관련 함수?인데 짝수이면 even 
			홀수이면 odd가 작동하게 해서 백그라운드 컬러를 번갈아 주게 만듬
			object로도 사용가능 이건 6/10에 알려준다함-->
			<td th:text="${status.count}"> 
				순번
			</td>
			<td>
				[[*{name}]]
			</td>
			<td>
				[[*{guk}]]
			</td>
			<td>
				[[*{math}]]
			</td>
			<td>
				[[*{sahee}]]
			</td>
		</tr>
	</table>
</body>
</html>
